body {
    font-size: 14px;
    color: black;
    font-family: "Trebuchet MS", Trebuchet MS, Verdana, "Verdana", Arial, _sans-serif;
    padding: 0;
    margin: 0;
    color: #2c2c2c;
    background: url('/images/bg.gif') repeat-x bottom left #E3F5FC;

}

img, a img {border: 0 !important; text-decoration: none !important;}

a {color:#1d6ea7;}
a:hover {color:#103d5d;}

h1.index_h1{
	margin-top:35px;
}

.block {
    width: 970px;
    margin: 0 auto;
    overflow: hidden;
}

.block2 {
    width: 1020px;
    margin: 0 auto;
    overflow: hidden;
}
.block3 {
    width: 970px;
    margin: 0 auto;
}
.strmain_top {
    width:100%;
    /* overflow: hidden; */
    margin: 0 auto;
    background: url('/images/bg_top.png') no-repeat top center;
}

.strmain_center {
    width:100%;
    overflow: hidden;
    margin: 0 auto;
    background: url('/images/bg_center.png') repeat-y top center;
}

.strmain_bottom {
    height: 65px;
    width:100%;
    overflow: hidden;
    margin: 0 auto;
    background: url('/images/bg_bottom.png') no-repeat top center;
}

.logo {
    width: 204px;
    height: 144px;
    float: left;
    margin-top: 4px;
}

.header_contacts {
    width:220px;
    margin-top: 60px;
    margin-left:56px;
    float: left;
}

.hc_phone {
    font-size: 24px;
	font-weight:bold;
	color: #267eac;
}

.hc_time {
    font-size: 14px;
	line-height:2;
	padding-left:8px;
}

.header_buttons {
    margin-top: 35px;
    width:453px;
    float: right;
}

.header_buttons  {
height:152
}

.header_buttons div {
 width:151px;
 overflow:hidden;
 float:left;
}


.header_buttons div img {
	height:71px;
}

a.hbut1, a.hbut2, a.hbut3 {
    width: 150px;
    height: 51px;
    float: left;
    display: inline-block;
}
a.hbut1 {background: url('/images/headerbut_01_botton.jpg') no-repeat;}
a.hbut2 {background: url('/images/headerbut_02_botton.jpg') no-repeat;}
a.hbut3 {background: url('/images/headerbut_03_botton.jpg') no-repeat;}


a.hbut1:hover {background: url('/images/headerbut_01_hover_botton.jpg') no-repeat;}
a.hbut2:hover {background: url('/images/headerbut_02_hover_botton.jpg') no-repeat;}
a.hbut3:hover {background: url('/images/headerbut_03_hover_botton.jpg') no-repeat;}

.mmenu {
    width: 100%;
    margin: 0 auto;
    height: 66px;
    /* overflow: hidden; */
    background: url('/images/mmenu_line.png') no-repeat top center;
}

.mmenu_buttons {
    margin: 0 auto;
    width: 740px;
    font-size: 15px;
    text-transform: uppercase;
}

.mmenu_buttons div {
    float: left;
    display: block;
    height: 34px;
    padding: 12px 15px;
    background: url('/images/mmenu_separator.jpg') no-repeat top right;
}

.mmenu_buttons li {
    color: white;
    float: left;
    /* height: 37px; */
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;

    float: left;
    display: block;
    /* height: 34px; */
    padding: 13px 15px;
    background: url('/images/mmenu_separator.jpg') no-repeat top right;

}
.mmenu_buttons li ul {
    background-color: #28719D;
    border: 1px solid #1b749a;
    box-shadow: 0 0 7px 2px #28719D;
    display: none;
    margin-left: -15px;
    margin-top: 13px;
    padding: 0 0 16px;
    position: absolute;
    width: 230px;
    z-index: 1;
	font-size:14px;
}

ul.dropdown li {
	padding:6px 15px 6px 15px;
}

.mmenu_buttons li ul .dropdown li{
	padding:5px 4px 3px 2px;
}

.mmenu_buttons li:hover ul {
    display: block;
}
.mmenu_buttons li ul li {
    width: 100%;
    background-image: none;

}
.mmenu_buttons div.nobrdr{
	background:none;
}

.mmenu_buttons li.nobrdr {
background:none;
}

.mmenu_buttons a {
    color:white;
    padding: 2px 6px;
}

.mmenu_buttons a:hover{
    color:white;
    /* background-color:#28719D; */
    padding: 2px 6px;
	text-decoration:none;
}

.mmenu_buttons a.selected {
    color:#000;
    /* background-color:#28719D; */
    padding: 2px 6px;
}

.mmenu_buttons a.selected {text-decoration: none;}

.slider {

    width:960px;
    overflow: hidden;
    margin: 0 auto;
	margin-top:7px;
}

.sl1, .sl2, .sl3, .sl4 {
    color:black;
    text-decoration: none;
    width:220px;
    height: 69px;
    display: block;
    float: left;
    /* font-weight: bold; */
    font-size: 14px;
    padding: 220px 10px 0 10px;
}

.winds {
    margin:20px auto 0 auto;
    width: 980px;
    overflow: hidden;
}

.win {
    width: 240px;
    height: 150px;
    overflow: hidden;
    float: left;
    background: url('/images/index_be.png') no-repeat;
	padding: 2px;
}
.win:hover, .win:focus {background: url('/images/index_be.png') no-repeat;}

.winimg {
    width: 71px;
    height: 105px;
    float: left;
    margin: 20px 7px 10px 11px;
}

.wintext {
    margin-top: 5px;
    color:white;
    float: left;
    width: 140px;
}
.wintext a {
    color:white;
    font-size: 20px;
    font-style: italic;
}


.leftside {
	margin-top:15px;
    width: 230px;
    float: left;
	margin-left:5px;
}

.rightside {
margin-top:15px;
    width: 700px;
    float: right;
}

.leftside_index {
	margin-top:0px;
    width: 230px;
    float: left;
	margin-left:5px;
}

.rightside_index {
margin-top:0px;
    width: 700px;
    float: right;
}

h1 {
    font-size: 36px;
    font-weight: normal;
    color:#24211c;
	margin:15px 0;
}

h2 {
    font-size: 24px;
    font-weight: normal;
    color:#24211c;
}

h3 {
    color:#24211c;
}

.otz {
    margin-top: 15px;
}

.otz_top, .otz_bottom, .otz_bottom2{
    width:236px;
}

.otz_top {
    height: 26px;
    background: url('/images/otz_top.jpg') no-repeat top left;
}

.otz_center {
    padding: 0 10px;
    width:216px;
    background: url('/images/otz_center.jpg') repeat-y top left;
}

.otzc_q {
    overflow: hidden;
    padding: 0 10px;
    width: 200px;
}

.otz_bottom {
    height: 157px;
    background: url('/images/otz_bottom.jpg') no-repeat top left;
}

.otz_bottom2 {
    height: 20px;
    background: url('/images/otz_bottom2.jpg') no-repeat top left;
}


.otz_c1 {
    font-size: 24px;
    float: left;
    font-weight: bold;
    width: 110px;
}
.otz_c2 {
    margin-top: 7px;
    float: right;
    width: 90px;
}
.otz_c2 a {
    color:black;
    font-style: italic;
	font-size:14px;
}

.otz_body {
    margin-top: 7px;
    padding: 0 10px;
    width: 200px;
}

.otz_date {
    font-size: 12px;
    font-style: italic;
}

.otz_name {
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}

.otz_text {
    width: 200px;
	   font-style: italic;
}

.index_news {
    width: 700px;
    overflow: hidden;
}

.index_news .newsblock {
    width: 300px;
    float: left;
    margin-right: 40px;
    overflow: hidden;
}



.newsblock_left {
    width: 70px;
    float: left;
}
.newsblock_left a img {
    width: 65px;
    height: 65px;
    overflow: hidden;
}

.newsblockdate {
    margin-top: 7px;
    font-size: 12px;
    font-style: italic;
}

.newsblock_right {
    margin-left:10px;
    width: 210px;
    float: left;
    font-size: 14px;
}
.newsblock_right div a {
    font-weight: bold;
    font-size: 14px;
}

.index_news .newsblock p {
margin:7px 0;
}

.ftmenu {
    width: 960px;
    height: 60px;
    margin:0 auto;
	margin-top:15px;
    background: url('/images/ftmenubg.png') no-repeat;
}

.ftmenu_buttons {
    width: 660px;
    margin: 0 auto;
}

.ftmenu_buttons a {
    color:black;
    float:left;
    display: inline-block;
    height: 16px;
    font-size: 13px;
    margin-top: 8px;
    padding: 3px 16px;
    border-right: 1px solid #8D8675;
}

.ftmenu_buttons a.nobrdr{
	border:none;
}

.ftmenu_buttons a:hover, .ftmenu_buttons a.selected {
    color:#103d5d;
    text-decoration: none;
}

.footerblock1 {
    margin: 0 0 15px 0;
    float: left;
    width: 370px;
}



.footerblock3 {
    width: 270px;
    float:right;
    overflow: hidden;
    font-size: 14px;
}

.fb3_left {
    width: 225px;
    float: right;
    margin-left:10px;
	line-height: 1.2;
}

.fb3_left  a {
	color:#24211C;
	text-decoration:none;
}

.fb3_right {
    margin-top: 6px;
    width: 24px;
    float: right;
}


ul.sidemenu {
    width: 200px;
    /* font-weight: bold; */
    padding: 0;
    margin: 0 0 0 20px;
}

ul.sidemenu li {
    padding: 2px 0;
    list-style: none;
    /* list-style-position: outside;
    list-style-image: url('/images/arr_closed.jpg'); */
}

ul.sidemenu li a {
    color:#b83708;
}

ul.sidemenu a:hover {color:#641e04; text-decoration:none;}
ul.sidemenu li.selected a {color:#000000; text-decoration: none;}

/* ul.sidemenu li.selected {
    list-style-image: url('/images/arr_open.jpg');
} */
ul.sidemenu li ul {
    padding-left:0;
    margin-left: 20px;
}

ul.sidemenu li ul li, .ul.sidemenu li ul li.selected {
    list-style: none;
    list-style-position: outside;
    list-style-image: none !important;
/*     margin: 5px 0; */
}

ul.sidemenu li ul li a {
    color:#1c749c !important;
    text-decoration: underline !important;
}

ul.sidemenu li ul li a:hover {
    color:#0a3549 !important;
    text-decoration: underline !important;
}
ul.sidemenu li ul li.selected a {
    color:black !important;
    text-decoration: none !important;
}
ul.sidemenu li.close ul {
    display: none;
}

.zeny
{
background-color: #fff;
margin: 10px;
border-radius: 7px;
color: #267eac;
font-size: 12pt;
padding: 3px;
position: relative;
padding-left: 13px;
}

.wintext span {
    font-size: 12px;
    margin-top: 5px;
	line-height:1.2;
}

.breadcrumbs {
	color:#1c749c;
	margin-top: 20px;
}

.breadcrumbs a.active {
	text-decoration:none;
}


.all_news {
    float: right;
    margin-right: 75px;
    margin-top: 10px;
}

.all_news a {
 color:#24211c;
 text-decoration:underline;
 font-style:italic;
}

.all_news a:hover {
 text-decoration:none;
}

.gallery, .gallery_photos, .news-list {
overflow:hidden;
}

.gallery .item, .gallery_photos .item, .news-list .item{
	float:left;
	width:170px;
	margin-top:10px;
	margin-bottom:10px;
	padding-right:5px;
/*text-align:center;*/
}


span.news-date-time {
display:block;
}

.item_pages {
overflow:hidden;
width:100%;
}

.news-list-otziv .item, .news-list .item{
	width:100%;
}

.news-list-otziv .item img, .news-list .item img{
	padding:0 10px 10px 0;
}

.end_res{
	color:#CF3A14;
	font-size:18px;
	font-weight:600;
}

.gallery_photos .item .img{
 margin-bottom:5px;
}

.item-text {
overflow:hidden;
}

#print_coupon p span {
display:block;
}

.otz_link {
text-align:center;
margin-top:10px;
}

.otz_link  a{
    border-bottom: 1px dashed #9F0511;
    color: #9F0511;
    cursor: pointer;
    display: inline;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px !important;
    width: auto;
	text-decoration:none;
}

.okno_box {
	margin:10px 15px;
	width:300px;
	float:left;
	text-align:center;
}


.okno_box .img{
display:block;
}

.okno_box .title_a{
display:block;
font-size:18px;
padding-top:3px;
}

.other a {
   font-size: 16px;
    padding-right: 25px;
}

.left_text {
	text-align:left;
	font-size:16px;
	color:#2d2c2a;
	font-weight:bold;
}

#passthrough {
    margin-bottom:-29px;
}

.linkmap a, .linkmap .arrow {
    float:left;
}

.linkmap .arrow {
    float:left;
    width:55px;
    height:39px;
    background: url('/images/mainpage/arrow.png') no-repeat;
    margin:35px 32px 0 32px;
    position:relative;
}

.linkmap a {
    width:153px;
    height:178px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    text-decoration: none;
}

.linkmap#profits a {
    width:175px;
    margin-bottom:10px;
}

.linkmap a, .linkmap a:link, .linkmap a:visited {
    color:#000;
    cursor: pointer
    text-decoration:none;
}

.linkmap a .title {
    text-decoration: none;
}

.linkmap a:hover .title {
    text-decoration: underline;
}

.linkmap a:hover {
    text-decoration: underline;
}

.linkmap a .title {
    display: block;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}

.linkmap img {
    display: block;
    margin:0 auto;
}

.linkmap .title {
    margin-top:8px;
}

.linkmap .clear {
    clear:both;
}

.linkmap#passthrough .step1 img {
    position: relative;
    left: -17px;
}

.linkmap#passthrough .step4 {
    margin-left: 138px;
}

.linkmap#passthrough .step4 img {
    position: relative;
    left: 9px;
}

.linkmap#passthrough .step5 {
   position: relative;
   left: 2px; 
}

h1.largetitle {
    text-align: center;
    font-size: 23px;
    margin-top:25px;
    margin-bottom:20px;
    text-transform: uppercase;
}
