div.szd-shop-mosaic-catalog-section table
{
	width: 100%;
}

div.szd-shop-mosaic-catalog-section .szd-name
{
	height: 2.7em;
	margin: 0 0 8px 0;
	overflow: hidden;
	display: inline-block;
}

div.szd-shop-mosaic-catalog-section .szd-price
{
	padding: 2px 0px 10px 0px;
	display: inline-block;
}

div.szd-shop-mosaic-catalog-section .szd-compare-button
{
	height: 30px;
	display: inline-block;
}

div.szd-shop-mosaic-catalog-section .szd-buy-button
{
	display: inline-block;
}

div.szd-shop-mosaic-catalog-section .szd-preview
{
	display: inline-block;
}

div.szd-shop-mosaic-catalog-section .szd-properties
{
	text-align: left;
}

div.szd-shop-mosaic-catalog-section .szd-preview-text
{
	text-align: left;
}

div.szd-shop-mosaic-catalog-section .szd-preview-picture
{
	border: none;
}

div.szd-shop-mosaic-catalog-section .szd-mosaic-space
{
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

div.szd-shop-mosaic-catalog-section table td {
	border: 1px solid #d8d8d8;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-box-shadow: #ddd 0px 1px 3px;
	-moz-box-shadow: #ddd 0px 1px 3px;
	box-shadow: #dedede 0px 1px 6px;
	text-align: center;
	vertical-align: top;
}
