@charset "utf-8";
/* CSS Document */
@import url('../css/reset.css');


#navigation li
{
	float:left;
	display:block;
}

#navigation li a
{
background-image:url(../images/sprite.jpg);
display: block;
	outline: none;
	position: relative;
	height: 127px;
	text-decoration: none;
	width: auto;
}




	#navigation .about
	{
	background-position:0px 0px;
	width:127px;
	height:127px;

	}

	#navigation .production
	{
	background-position:-127px 0px;
	width:127px;
	height:127px;
	}

	#navigation .services
	{
	background-position:-254px 0px;
	width:127px;
	height:127px;
	}

	#navigation .portfolio
	{
	background-position:-381px 0px;
	width:127px;
	height:127px;
	}

	#navigation .contact
	{
	background-position:-508px 0px;
	width:127px;
	height:127px;
	}



	#navigation a .hover {
	background: transparent  url(../images/sprite.jpg) no-repeat;
	display:block ;
	opacity: 0;
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	}

	#navigation .about .hover {
	background-position: -0px -127px;

	}
	#navigation .production .hover{
	background-position: -127px -127px;

	}
	#navigation .services .hover {
	background-position: -254px -127px;
	}
	#navigation .portfolio .hover {
	background-position: -381px -127px;
	}
	#navigation .contact .hover {
	background-position: -508px -127px;
	}
