#blind {
    background: none repeat scroll 0 0 #1A1A1A;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
}

.ordercall {
    background-color: #FFCC00;
    height: 255px !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    width: 450px !important;
    z-index: 100;
}

.ordermanager {
    background-color: #FFCC00;
    height: 410px !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    width: 450px !important;
    z-index: 100;
}

.popup {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    color: #1A1A1A;
    display: none;
    left: 100px;
    padding: 16px 20px;
    position: absolute;
    text-align: left;
    top: 100px;
    width: 460px;
    z-index: 100;
}

.popup .header_form {
    font: 12px/18px Georgia,"Times New Roman",Times,serif;
    margin: 0 0 12px;
    position: relative;
}

.popup .header_form b {
    background: none repeat scroll 0 0 #767676;
    display: block;
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 8px;
    width: 100%;
    z-index: 0;
}

.popup .header_form strong {
    background: none repeat scroll 0 0 #FFFFFF;
    font-weight: normal;
    letter-spacing: 2px;
    padding: 0 10px 0 0;
    position: relative;
    text-transform: uppercase;
}

form .submit {
    margin: 0;
    padding-left: 160px;
}

.button {
    background: url("images/b_send.png") no-repeat scroll transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font: normal 14px/16px Arial,Helvetica,sans-serif;
}


.button span {
    display: block;
    height: 41px;
    width:367px;
}


.button span span {
    padding: 10px 18px 0 0;
}

.textInput {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #767676;
    color: #1A1A1A;
    font: 12px/15px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 3px;
}

.form_title {
    padding-left: 41px;
    padding-top: 28px;
    font-size: 16px;
    color: grey;
}
.popup .popup-close {
    background: url("images/close.png") no-repeat scroll transparent !important;
    cursor: pointer;
    display: block;
    height: 15px !important;
    position: absolute;
    right: 43px !important;
    top: 35px !important;
    width: 83px !important;
}

.float-left { float: left; }
.float-right { float: right; }

.textInput {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #767676;
    color: grey;
    font: 12px/15px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 3px;
}

.popup .ordercallform {
    width: 380px;
    padding-left: 42px;
    padding-top: 15px;
}
.popup .ordercalltext {
    width: 240px;
    padding-top: 115px;
}

.popup .ordermanagerform {
    width: 380px;
    padding-left: 42px;
    padding-top: 15px;
}
.popup .ordermanagertext {
    width: 240px;
    padding-top: 115px;
}

.form_buttom {

   background-color: #F8EDCF;
    border: 1px solid #DBD4C4;
    display: block;
    float: left;
    text-align: left;
    width: 650px;
    margin-top:7px;
}

.form_buttom .textInput {
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 10px;
    padding: 5px;
    width: 220px;
    border-top: 1px solid #868686;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #868686;
    font-size:14px;
}

.zakaz_submit {
    background: url("/images/zakaz_bg.jpg") no-repeat scroll transparent;
    cursor: pointer;
    height: 36px;
    width: 100px !important;
    border:none;
    margin-left:20px;
}

.zakaz_submit:hover{
    background: url("/images/zakaz_bg_hover.jpg") no-repeat scroll transparent;
    cursor: pointer;
    height: 36px;
    width: 100px !important;
    border:none;
    margin-left:20px;
}

.content ul { display: table;}

#call_offer {
    width:447px;
    height:113px;
    background: url('/images/forms/bg2.png');
    color:#257ca9;
    font-style: italic;
    font-size:120%;
    margin:25px 0 20px 242px;
    padding:0;
    position: relative;
}

#call_offer div {
    text-align: left;
    margin-left:20px;
}

#call_offer p {
    display:none;
}

#call_offer input[type=text] {
    position:absolute;
    border:1px solid transparent;
    background: transparent;
    outline:none;
    padding: 8px;
    font-size: 11px;
    height: 14px;
    margin-top: 55px;
    margin-left: 161px;
    width: 93px;
}

#call_offer .btn {
    cursor:pointer;
    position: absolute;
    display:inline;
    margin-top:53px;
    margin-left:278px;
    width:128px;
    height:38px;
    border:0;
    background: url('/images/forms/submit2.png') no-repeat;
}

#call_offer .btn:hover {
    //background-position: 0 -26px;
}

#side_callback {
    width:229px;
    height:342px;
    background: url('/images/forms/bg.png')
}

#side_callback .invis_field {
    position:absolute;
    border:1px solid transparent;
    background: transparent;
    outline:none;
    padding: 8px;
    font-size: 13px;
    height: 14px;
}
#side_callback .field_fio {
    margin-top: 153px;
    margin-left: 15px;
    width: 181px;
}
#side_callback .field_phone {
    margin-left: 42px;
    font-size:11px;
    padding-left:6px;
    padding-right:5px;
    margin-top: 215px;
    width: 159px;
}
#side_callback .side_callback_submit {
    width:204px;
    height:71px;
    background: url('/images/forms/submit.png');
    border:0;
    padding:0;
    margin-top: 257px;
    margin-left: 12px;
    cursor: pointer;
}
.htmlslide {
    overflow: hidden;
    width:959px;
    height:300px;
    display:block;
    background-position:0 0;
    background-repeat:no-repeat;
}