.news-list .item {margin:0 !important;}

.gallery-list { position:relative;  }
	.gallery-list .section { width:210px; float:left; margin:0 30px 20px 0; }
	.gallery-list .last { margin-right:0; }
		.gallery-list .section .section-items { display:none; }
		.gallery-list .section a { text-decoration:none; display:block; background-color:#fff; border:1px solid #dbd6c1; padding:5px; }
		.gallery-list .section a:hover { background-color:#fbf7e7; border:1px solid #ede0b6; }
			.gallery-list .section a .pic { margin:0 0 5px; }
			.gallery-list .section a .name { color:#000; font:12px/1.4 Verdana; }
				.gallery-list .section a .name .cnt { color:#666363; }
.clear { clear:both; }