div.menu-sitemap-tree
{
	font-size:100%;
}

div.menu-sitemap-tree ul
{
	list-style-type: none;
	margin: 0; 
	padding: 0 1em 0 0;
}

div.menu-sitemap-tree ul ul
{
	width: auto;
	margin:-0.75em 0 0 0;
	padding: 0 0 0 0.75em;
}

div.menu-sitemap-tree li
{
	margin: 0 0 -0.85em 0;
	padding:0;
}

div.menu-sitemap-tree li li
{
	margin: 0 0 -0.85em 0.5em; 
	padding:0;
	color:#747474;
}

div.menu-sitemap-tree li li.active div.page {
	background-image: url("images/folder_open.gif") !important;
}

div.menu-sitemap-tree li li.active a
{
text-decoration:none;
color:#4ab326;

}


div.menu-sitemap-tree li.active a
{
text-decoration:none;
color:#4ab326;
}

iv.menu-sitemap-tree li.active div.page {
	background-image: url("images/folder_open.gif") !important;
}

a.active_xa {
color:#4ab326 !important;
}


div.menu-sitemap-tree li li a
{
	color:#747474;
}	

div.menu-sitemap-tree li.close ul
{
	display: none;
}

div.menu-sitemap-tree div.item-text
{
	position:relative;
	top:-19px;left:19px;
}

/*Icons*/
div.folder
{
	background-repeat:no-repeat;
	width:17px;
	height:17px;
	vertical-align:top;
	float:left;
	background-position:bottom;
}

div.page
{
	background-repeat:no-repeat;
	width:17px;
	height:17px;
	vertical-align:top;
	float:left;
	background-position:center;
}

div.folder{
	cursor:pointer; 
	cursor: hand;
	background-image:url(/images/arr_open.jpg);
}

li.close div.folder{
cursor:pointer; 
cursor: hand;
background-image:url(/images/arr_closed.jpg);
background-position:center;
}

div.menu-sitemap-tree li.close div.folder{background-image:url(images/folder_close.gif);}
div.page{background-image:url(images/page.gif);}