/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
    z-index: 0;
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
}
.rslides  a{
    display: block;
    cursor: pointer;
}

.rslides img {
    display: block;
    height: auto;
    width: 100%;
    border: 0;
}

.rslides_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
}

.rslides_nav {
    z-index: 3;
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 50%;
    left: 0;
    opacity: 0.7;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: transparent url("themes.gif") no-repeat left top;
    margin-top: -45px;
}

.rslides_container {
    margin-bottom: 30px;
    position: relative;
    width: 100%;
}

.rslides_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {
    outline: none;
}

.rslides_tabs a {
    text-indent: -9999px;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #ccc;
    display: inline-block;
    -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
    box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
    width: 9px;
    height: 9px;
}

.rslides_tabs li  {
    display: inline;
    margin-right: 5px;
}
.rslides_tabs {
    margin-top: 10px;
    text-align: center;
}

.rslides_here a {
    background: #222;
    background: rgba(0,0,0, .8);
}