.szd-shop-catalog-element{

}

.szd-shop-catalog-element .szd-shop-product{

}

.szd-shop-catalog-element .szd-shop-product .szd-shop-pic{
	vertical-align: top;
	padding: 1em 1em 1em 0;
}

.szd-shop-catalog-element .szd-shop-product .szd-shop-pic img{

}

.szd-shop-catalog-element .szd-shop-product .szd-shop-info{
	padding: 1em 0 1em 0;
	vertical-align: top;
}	

.szd-shop-catalog-element .szd-shop-product .szd-shop-info p{
	margin: 1em 0 0 0;
}

.szd-shop-catalog-element .szd-shop-product .szd-shop-buttons{
	padding: 1em 0 1em 1em;
}

.szd-shop-catalog-element .szd-shop-product .szd-shop-buttons .szd-shop-buttons-basket{
	text-align: center;
}

.szd-shop-catalog-element .szd-shop-product .szd-shop-buttons .szd-shop-buttons-compare{
	text-align: center;
	padding: 0.7em 0 0 0;
}

.szd-shop-catalog-element .szd-shop-list-splitter{
	height: 1px;
	background: #CCC;
	padding: 0;
	border: none;
}