body{
	background:#fff;
}

.container #logo{
	text-align: center;
	margin: 10px 10px 20px 20px;
}
.container #nav{
	width:100%;
	height:127px;
}

.block{
	padding:30px 0 37px 0;
	min-height: 200px;
	border-bottom:1px solid #D9D9D9;
	margin:0 0 30px 0;
}
.block img{
	float:left;
	margin:0 40px 0 0
}

#content h1{
	color:#000;
	font-size:20px;
	font-weight:bold;
	padding:20px 0 20px 0
}
#content h2{
	color:#000;
	font-size:18px;
	font-weight:bold;
}
#content div{
	font-size:14px;
	line-height:20px;
	padding:0 0 20px 0
}
.container .block h4{
	color:#da251c;
	font-size:16px;
	font-weight:bold;
}
.container .block p{
	font-size:14px;
	line-height:20px;
}
.container .production h4{
	color:#000;
	font-size:16px;
	font-weight:bold;
	padding:0 0 20px 0
}
.more{
	display:block;
	color:#da251c;
	font-size:14px;
	text-decoration:underline;
	margin:10px 0 0 0
}
.more:visited{text-decoration:underline}
.more:hover{text-decoration:none}
.item{
	width:285px;
	float:left;
	font-size:14px;
	padding:14px 0 40px 0
}
.left{
	padding:14px 60px 40px 0
}
.item img{
	float:left;
	margin:0 22px 0 0
}
.item h5{
	color:#da251c;
	font-size:16px;
	font-weight:bold;
	padding:0 0 18px 0
}

#footer{
	border-top:1px solid #E8E8E8;
	height:60px;
	width:350px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
}
#footer a{
	color:#FF5400;
	text-decoration:none;
}
#footer a:visited{text-decoration:none}
#footer a:hover{text-decoration:underline}
#footer p{
	padding:16px 0 0 165px;
}
.leftimg {
	float: left;
	margin: 10px 20px 10px 0;
}
.rightimg {
	float: right;
	margin: 10px 0 10px 20px;
}