.szd-shop-list-catalog-section{

}

.szd-shop-list-catalog-section .szd-shop-product{

}

.szd-shop-list-catalog-section .szd-shop-product .szd-shop-pic{
	vertical-align: top;
	padding: 1em 1em 1em 0;
}

.szd-shop-list-catalog-section .szd-shop-product .szd-shop-pic img{
	max-height: 200px;
	max-width: 200px;
}

.szd-shop-list-catalog-section .szd-shop-product .szd-shop-info{
	padding: 1em 0 1em 0;
}	

.szd-shop-list-catalog-section .szd-shop-product .szd-shop-info p{
	margin: 1em 0 0 0;
}

.szd-shop-list-catalog-section .szd-shop-product .szd-shop-buttons{
	padding: 1em 0 1em 1em;
}

.szd-shop-list-catalog-section .szd-shop-product .szd-shop-buttons .szd-shop-buttons-basket{
	text-align: center;
}

.szd-shop-list-catalog-section .szd-shop-product .szd-shop-buttons .szd-shop-buttons-compare{
	text-align: center;
	padding: 0.7em 0 0 0;
}

.szd-shop-list-catalog-section .szd-shop-list-splitter{
	height: 1px;
	background: #CCC;
	padding: 0;
	border: none;
}