div.szd-shop-table-catalog-section table
{
	border-bottom: 1px;
	border-right: 1px;
	border-color: #CECECE;
	border-style: solid;
	
	width: 100%;
}

div.szd-shop-table-catalog-section table th, div.szd-shop-table-catalog-section table td {
	border-top: 1px;
	border-left: 1px;
	border-color: #CECECE;
	border-style: solid;
	text-align: left;
	padding: 6px;
}

div.szd-shop-table-catalog-section table td {

}

div.szd-shop-table-catalog-section table th {
	font-weight: normal;
}

div.szd-shop-table-catalog-section img.szd-shop-table-preview-pic
{
	max-height: 68px;
}

div.szd-shop-table-catalog-section .szd-shop-center{
	text-align: center;
}
